body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(../image/pic2.jpg);
    background-size: cover;
}

.signup
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 400px;
}
